@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/cocacola/LOKICOLA.TTF);
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/opensans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/oswald/static/Oswald-Regular.ttf);
}

/* Initialize */
body, dl, dd, ul, ol, p, h1, h2, h3, h4, h5, h6, form, input, textarea, button{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(182, 231, 243, 1.0);
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

/* 3d_image */
#main_3d_image {
    background-image: url(../assets/images/main_3D.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 5px;
    
}

#main_text h2 {
    color: rgba(0,102,153,1);
    margin-top: 0px;
    margin-bottom: 5px;
}

#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
}

/* Each card css */
.card {
    /* border: 1px solid rgba(0,0,0,.125); */
    box-sizing: border-box;
    border-radius: .25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(182, 231, 243, 1.0);
    border: 0px;
}
/* .card-body {
    border: 1px solid rgba(0,0,0,.125);
} */

/* header */
.navbar_coca_cola {
    background-color: #760003; /* Set navbar background color */
    /* border-color: yellow; Sets the navbar border color */
    /* border-style: solid; */
    /* border-width: 0px; */
    min-height: 70px;
    width: 100%;
    z-index: 10;
}

/* CSS rule to overwrite the navbar-brand font color
*/
.navbar_coca_cola .navbar-brand {
    color: rgb(245, 235, 235);
 }
    
/* CSS rule to overwrite the navbar-brand font hover color
*/
.navbar_coca_cola .navbar-brand:hover {
    color: green;
    background-color: transparent;
}

.navbar_coca_cola .navbar-nav > li > a {
    color: white;  
    white-space:nowrap;
}

/* .navbar_coca_cola .navbar-nav .nav-item {
    margin-top: 0px;
} */

/* CSS rule to overwrite the bootstrap.css rules for setting the active font color and background colour
*/
.navbar_coca_cola .navbar-nav .nav-item > .active,
.navbar_coca_cola .navbar-nav > .active > a:hover, 
.navbar_coca_cola .navbar-nav > .active > a:focus {
    color:  #760003; 
    background-color: #3399ff;
}

.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola  .navbar-nav > li > a:focus {
    color: green;
    background-color: transparent;
}

/* hambeger */
.navbar_coca_cola .navbar-toggler {
    border-color: white;
    outline: none;
    float: left;
}

.navbar_coca_cola  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* dropdown-menu */
.dropdown-menu {
    text-align: -webkit-left;
    background-color: #b6e7f3;
    margin-top: 10px; /* Experiment to move the dropdown menu down */
}

.dropdown-menu .dropdown-item {
    color: #eb0025;
}

.dropdown-menu .dropdown-item:hover {
    color: #030303;
    background-color: #e98074;
}

/* header logo */
.logo {
    margin-top: 3px;
}

.logo h1 {
    font-family: cocaColaFont;
    font-size: 40px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
}

.logo h2 {
    font-family: cocaColaFont;
    font-size: 40px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
}

.logo h3 {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
}

.logo p {
    font-size: 3px; /* You may have to tweak this to get a good fit */
    margin-top: 30px; /* You may have to tweak this to get a good fit */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}


/* footer */
.footer {
    color: #030303;
    background-color: #760003; /* Set navbar footer background color same as header */
    height: 50px;
}

.navbar-text > a {
    font-size: 10px;
}

.navbar-text > p {
    color: rgb(255, 255, 255);
    font-size: 10px;
    text-decoration: none;
}

.copyright {
    padding-top: 1px;
}

.social {
    padding-top: 5px;
}



/* X-Small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap
*/
.img-thumbnail {
    padding: 0.25rem;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color:  #760003; /* Font color for active font */
    background-color: #6c757d; /* Blue color for background */
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
    color: white;  
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

/* Added this to emulate the nav-bar link styling */
.nav-tabs .nav-link:hover {
    color: green;
    border: 1px solid transparent;
}

.camera-btns {
    /* background-color: rgba(0, 0, 255, 0.3);  */
    border-color: black; 
    border-style: solid;
    border-width: 0px;
    margin-top: 0px;
    padding: 0px;
}

.camera-btns > p  {
    font-size: 15px;
    color: red;
    padding-bottom: 5px;
    font-weight: 900; 
}

.camera-font {
    font-weight: 400;   
    color: white;
}

.camera-font:hover {
    font-weight: 700;   
    color: rgb(3, 3, 3);
}

.btn-responsive {
    padding: 6px 10px;
    font-size: 90%;
    line-height: 1.2;
    white-space: normal !important;
}

.card-text {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.gallery-header {
    color: white;
}

.gallery-header:hover {
    color: green;
    border: 1px solid transparent;
}

.model3D  {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1.0);
    padding: 2px;
    height: 200px;
}

X3D, x3d {
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 1.0);
    width: 100%;
    height: 100%
}

.img-thumbnail {
    padding: 0.25rem;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.gallery .img-thumbnail {
    background-color: rgb(255, 255, 255, 0.0);
    padding: 0.25rem;
    margin: 5px;
    border-radius: 0.25rem;
    max-width: 43%;
    height: auto;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    /* CSS rule to style the footer */
.footer {
    background-color: #760003;
    height: 60px;
}

.navbar-text > p {
    color: rgb(228, 75, 15);
    font-size: 18px;
}

.copyright {
    padding-top: 8px;
}

.social {
    padding-top: 15px;
}

#main_3d_image {
    height: 350px;
}

#main_text {
    width: 200px;
}

.btn-responsive {
    padding: 6px 10px;
    font-size: 120%;
    line-height: 1.2;
    white-space: normal !important;
}

.model3D  {
    height: 310px;
}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
.footer {
    background-color: #760003;
    height: 60px;
}

.navbar-text > a {
    font-size: 10px;
}

.navbar-text > p {
    color: rgb(228, 75, 15);
    font-size: 20px;
}

.copyright {
    padding-top: 10px;
}

.social {
    padding-top: 10px;
}

#main_3d_image {
    height: 300px;
}

.btn-responsive {
    padding: 6px 10px;
    font-size: 130%;
    line-height: 1.2;
    white-space: normal !important;
}

.model3D  {
    height: 380px;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
.footer {
    background-color: #760003;
    height: 60px;
}

.navbar-text > a {
    font-size: 10px;
}

.navbar-text > p {
    color: rgb(228, 75, 15);
    font-size: 20px;
}

.copyright {
    padding-top: 10px;
}

.social {
    padding-top: 10px;
}

.btn-responsive {
    padding: 6px 10px;
    font-size: 150%;
    line-height: 1.2;
    white-space: normal !important;
}

.model3D  {
    height: 450px;
}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .footer {
        background-color: #760003;
        height: 60px;
    }
    
    .navbar-text > a {
        font-size: 10px;
    }
    
    .navbar-text > p {
        color: rgb(228, 75, 15);
        font-size: 20px;
    }
    
    .copyright {
        padding-top: 10px;
    }
    
    .social {
        padding-top: 10px;
    }

    .btn-responsive {
        padding: 6px 10px;
        font-size: 165%;
        line-height: 1.2;
        white-space: normal !important;
    }

    .model3D  {
        height: 550px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .footer {
        background-color: #760003;
        height: 60px;
    }
    
    .navbar-text > a {
        font-size: 10px;
    }
    
    .navbar-text > p {
        color: rgb(228, 75, 15);
        font-size: 20px;
    }
    
    .copyright {
        padding-top: 10px;
    }
    
    .social {
        padding-top: 10px;
    }

    .btn-responsive {
        padding: 6px 10px;
        font-size: 175%;
        line-height: 1.2;
        white-space: normal !important;
    }

    .model3D  {
        height: 550px;
    }
}